---
import Section from './Section.astro'
---

<Section title='Accessories' color='black'>
  <div slot='footer'>
    <div class='flex flex-col flex-grow justify-end pb-4'>
      <div class='flex justify-center gap-x-4 mx-auto pb-8'>
        <a
          class='border-[3px] border-zinc-800 bg-zinc-800 text-sm rounded font-medium text-gray-200 px-20 py-[6px] inline-block hover:bg-black hover:text-white hover:border-black transition-colors'
          href='#'>Shop Now</a
        >
      </div>
      <nav class='flex justify-center w-full'>
        <ul
          class='flex text-xs [&>li>a]:text-zinc-600 [&>li>a]:font-normal [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2'
        >
          <li><a href='#'>Tesla © 2023</a></li>
          <li><a href='#'>Privacy & Legal</a></li>
          <li><a href='#'>Contact</a></li>
          <li><a href='#'>News</a></li>
          <li><a href='#'>Get Updates</a></li>
          <li><a href='#'>Locations</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <img
    slot='background'
    src='/accessories.avif'
    alt='Accesorios Tesla'
    class='h-full w-full object-cover object-center'
  />
</Section>
