---
import Section from './Section.astro'
---

<Section
  title='Experience Tesla'
  subtitle='Schedule a Test Drive Today'
  color='white'
  subcolor='white'
>
  <div class='w-full pb-20' slot='footer'>
    <a
      class='max-[600px]:w-full w-[265px] h-[40px] border-[3px] border-white text-sm rounded font-medium text-white transition-colors inline-flex justify-center items-center hover:bg-white hover:text-black'
      href='#'>Test Drive</a
    >
  </div>
  <video
    slot='background'
    class='object-center object-cover h-full w-full'
    autoplay
    muted
    loop
    src='/drive-video.webm'></video>
</Section>
