---
import Section from './Section.astro'
---

<Section title='Model X' color='black'>
  <div slot='footer'>
    <div class='flex flex-col flex-grow justify-end pb-4'>
      <div class='flex justify-center gap-x-4 mx-auto pb-8'>
        <a
          class='border-[3px] border-zinc-800 bg-zinc-800 text-sm rounded font-medium text-gray-200 px-16 py-[6px] inline-block hover:bg-black hover:text-white hover:border-black transition-colors'
          href='#'>Explore Inventory</a
        >
        <a
          class='border-[3px] border-gray-200 bg-gray-200 text-gray-600 text-sm rounded font-medium px-16 py-[6px] transition-colors hover:bg-black hover:text-white hover:border-black inline-flex justify-center items-center'
          href='#'>Test Drive</a
        >
      </div>
      <p class='text-xs text-white'>Only available as left-hand drive</p>
    </div>
  </div>
  <img
    slot='background'
    src='/model-x.avif'
    alt='Model X Tesla'
    class='h-full w-full object-cover object-center'
  />
</Section>
