---
import Section from './Section.astro'
---

<Section
  title='Model Y'
  subtitle='2% Company Car Tax. '
  color='black'
  subcolor='zinc-800'
>
  <a slot='subtitle-link' class='underline hover:decoration-2' href='#'
    >Learn More</a
  >
  <div slot='footer'>
    <div class='flex flex-col flex-grow justify-end pb-4'>
      <div class='flex justify-center gap-x-4 mx-auto pb-8'>
        <a
          class='border-[3px] border-zinc-800 bg-zinc-800 text-sm rounded font-medium text-gray-200 px-16 py-[6px] inline-block hover:bg-black hover:text-white hover:border-black transition-colors'
          href='#'>Explore Inventory</a
        >
        <a
          class='border-[3px] border-gray-200 bg-gray-200 text-gray-600 text-sm rounded font-medium px-16 py-[6px] transition-colors hover:bg-black hover:text-white hover:border-black inline-flex justify-center items-center'
          href='#'>Custom Order</a
        >
      </div>
      <p>
        <a
          class='text-xs text-gray-600 inline-block underline hover:decoration-2'
          href='#'>Schedule a Test Drive</a
        >
      </p>
    </div>
  </div>
  <img
    slot='background'
    src='/model-y.avif'
    alt='Model Y Tesla'
    class='h-full w-full object-cover object-center'
  />
</Section>
